@charset "utf-8";
/* CSS Document */

body{
	background-color:#d7d7d7;
	margin:0px;	
	background-position:center;
}

img{
	border:none;
}

#bkg-container{
	width:79em;
	min-height:200px;
	*height:auto;
	display:table;
	margin:0px auto;
}


#background-principal{
	width:100%;
	margin:0px auto;	
}

#background-topo{
	width:100%;
	height:201px;
	background:url(images/bkg_topo.png) bottom;
	margin:0px auto;
        border-bottom: #FFFFFF solid 1px;
}

.area-menu{
	width:940px;
	margin:0px auto;	
}

.area-menu .area-right{
	float:right;
	width: 760px;
	margin-top: 10px;	
}

.area-menu .btn-idiomas{
	width:35px;
	height:20px;
	float:right;			
}

.logo-elite{
	width:177px;
	height:176px;	
	float:left;	
	border-radius:10px;
	-webkit-border-radius:10px;	
}

.background-menu{
	width:755px;
	height:67px;
	background-image:url(images/bkg_menu.png);
	float:right;
	margin-top: 79px;
}

.background-menu .menu{
	width:760px;	
	display:inline;
}


.background-menu .menu ul{   
    width: 770px;
	padding-left:0px;
	padding-right:0px;
	margin: 0px;
}

.background-menu .menu ul li{	
	list-style:none;
	display:inline;		
}

.background-menu .menu ul li a{
	display: block;
	font-family:'HelveticaNeueLTPro-Roman';	
	font-size:14px;
	color:#0000FF;
	white-space: nowrap;
	text-decoration:none;
	text-shadow: 1px 1px 1px #FFF;	
}

.menu ul li a:hover{
	color: #0000FF;	
}

.menu li.item
{
    float: left;
    position: relative;
	height: 25px;
	line-height: 25px;
}

.menu li.item.first
{
    margin-left: 5px;
}

.menu li.item ul
{
    position: absolute;
	display: none;
	width: 200px;
	top: 56px;
	left: 0;
	z-index: 9999;
}

.menu li.item:hover ul
{
	display: block;
}

.menu li.item span
{
	float: left;
}

.menu li.item span.left,
.menu li.item span.right
{
	width: 18px;
	height: 50px;
	margin-top: 6px;
}

.menu li.item a span.link
{
	height: 50px;
    letter-spacing: -1px;
    line-height: 50px;
    margin-top: 6px;	
}

.menu li.item:hover .dropdown span
{
    background-image: url('images/menu_hover.png');
}

.menu li.item a.dropdown span.left
{
	background-position: 0 -56px;
}

.menu li.item a.dropdown span.right
{
	background-position: 0 -112px;
}

.menu ul li.dropdown:hover a{
	color: #0000FF;	
}

.menu li.item li
{
    float: left;
	display: block;
	background-image: url('images/menu_item.png');
	background-position: 0 -10px;
	width: 200px;
	height: 50px;
}

.menu li.item li.first
{
	background-position: left top;
}

.menu li.item li.last
{
	background-position: left bottom;
	padding-bottom: 6px;
}

.menu li.item li a.subitem
{
	background-image: url("images/separador_amarelo.png");
    background-position: center bottom;
    background-repeat: no-repeat;    
    width: 100%;
	height: 100%;
}

.menu li.item li.last a.subitem
{
	background: none;
}

.menu li.item li a.subitem span
{
	background:none;
	height: 56px;
	line-height: 44px;
	padding: 0;
	margin: 0;
	color: #0000FF;
	text-shadow:1px 1px 1px #fdf1bf;
}

.menu li.item li a.subitem:hover span
{
    
	text-decoration: none;
	cursor: pointer;	
}


.background-menu .menu ul li a:hover{		
		
}


#easyTooltip{
	padding:5px;
	border:1px solid #ccc;
	border-radius:5px;
	-webkit-border-radius:5px;
	background:#f1f1f1;
	color:#636363;	
	}

#background-meio{
	width: 960px;
	height:633px;	
	background: url(images/marca-dagua2.png) right top no-repeat;	
	margin:0px auto;		
}

.area-meio{
	width:960px;
	height:440px;	
	margin:0px auto;		
}

.bkg-painel-meio{
	width:661px;
	height:500px;
	float:left;
	margin-top:40px;
}

.painel-meio{
	width:660px;
	height:330px;
	margin:0px auto;	
}

.painel-meio .barra-divisao{
	width:602px;
	height:2px;
	background-image:url(images/barra_divisao.png);
	margin:0px auto;
	margin-top:-10px;
	*margin-top:10px;
}

.painel-meio .barra-divisao-baixo{
	width:575px;
	height:2px;
	background-image:url(images/barra_divisao2.png);
	float:left;	
}

.painel-meio .btn-mais{	
	float:right;	
	margin-top:-15px;			
}

.painel-meio span{
	font-size:55px;
	color:#002045;
	letter-spacing:-4px;
	margin-left:35px;
	line-height:1px;	
}

.painel-meio p{
	margin-left:35px;
	color:#363636;
	font-family:'mako';
	font-size:16px;
}

.painel-meio .icones-meio{
	width:610px;
	height:130px;
	margin:25px auto;
	margin-left:26px;
	margin-top:15px;
}

.painel-meio .icones-meio a{	
	margin-right:10px;	
}

.area-newsletter{
	width:265px;
	height:350px;	
	float:right;
	margin-top:40px;	
}

.noticias{
	width:265px;
	height:120px;
}

.noticias img{
	float:right;
	margin-bottom:-10px;
	margin-right:5px;
}

.noticias p{
	float:left;
	font-family:'HelveticaNeueLTPro-Roman';
	font-size:14px;	
	width:260px;
	height:65px;	color: #0000FF;
	*text-align:justify;
	*margin-top:15px;
        text-align: right;
}

.newsletter{
	width:265px;
	height:230px;
}


.newsletter .incluir{
	font-family:'arial';
	font-size:11px;	
}

.newsletter .excluir{
	font-family:'arial';
	font-size:11px;
}

.newsletter img{
	float:right;
	margin-bottom:-10px;
	margin-right:5px;
}

.newsletter p{
	float:left;
	font-family:'HelveticaNeueLTPro-Roman';
	font-size:14px;
	line-height:17px;
	width:265px;
	height:35px;		color: #0000FF;
	*text-align:justify;
	*margin-top:17px;
	*margin-bottom:10px;
        text-align: right;
}

.area-form-newsletter{
	width:265px;
	height:100px;
	float:left;	
}

.campo-newsletter{
	width:267px;
	height:47px;
	background-image:url(images/campo_form2.png);
	margin-bottom:5px;
}

.campo-newsletter input[type=text]{
	font-family:'Arial', Helvetica, sans-serif;
	color:#898989;
	width:240px;
	height:36px;
	background:transparent;
	border:none;
	margin-left:11px;
    font-size: 14px;
    padding-top: 4px;
}

.area-final{
	width: 100%;
	height: 60px;
	background-color: #000e41;
	float: left;
}

.area-final .center{
	width: 960px;
	margin: 0px auto;	
}

.area-final .icones{
	width:450px;
	height:40px;
	float:right;
	margin-right:10px;
	margin-top:15px;
}

.area-final .icones a{
	margin-left:18px;
}

.menu-rodape{
	width:800px;
	height:110px;
	float:left;
	margin-top:15px;	
}

.menu-rodape ul{
	display:inline;	
}

.menu-rodape ul li{
	list-style:none;
	float:left;
	padding: 0;
	margin-right:15px;
	font-weight:bold;
		
}

.menu-rodape ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#f8c700;
	text-decoration:none;
	font-weight:bold;
	-moz-transition: text-shadow 300ms ease-in;
	-webkit-transition: text-shadow 300ms ease-in;
}

.menu-rodape ul li a:hover{
	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
}

.submenu3{
	width:82px;
	height:30px;
	float:left;
	position:absolute;	
	margin-top:90px;
	*margin-top:40px;
	margin-left:-41px;
	*margin-left:-790px;
	letter-spacing:-1px;
	display:none;
}

.submenu4{
	width:95px;
	height:80px;	
	float:left;
	position:absolute;
	margin-top:90px;
	*margin-top:40px;
	margin-left:45px;
	*margin-left:-705px;
	letter-spacing:-1px;
	letter-spacing:0px \0/;
	display:none;
}

.submenu3 ul, .submenu4 ul{
	margin-top:-5px;
}

.submenu3 ul li, .submenu4 ul li{ 
	list-style:none;	
	margin-left:-35px;
	margin-top:-5px;
	text-align:left;
	margin-top:1px \0/;
}


.submenu3 ul li a, .submenu4 ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}

.submenu3 ul li a:hover, .submenu4 ul li a:hover{
	
}

.endereco{
	width:700px;
	height:30px;
	float:left;
	margin-top:20px;
}
.endereco .p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	float:left;
	margin-top:3px;	
	margin-right:3px;
}

.endereco .span{
	font-family:Arial, Helvetica, sans-serif;
	color:#f8c700;
	font-size:15px;
	font-weight:bold;
	float:left;
	margin-right:6px;
	margin-left:5px;
}

.area-midias-sociais{
	width:100px;
	height:35px;
	float:right;
	margin-top:10px;
}

.container{
	width:960px;
	height:200px;
	height:auto;
	margin:0px auto;
	display:table;
}

.container .voltar{
	margin-left:150px;	
	float:left;
	*float:right;
	*margin-right:500px;
	margin-top:10px;	
	margin-bottom:10px;
}

.titulo-interna{
	width:760px;
	height:100px;
	margin:0px auto;
	float:right;
	margin-top:30px;
}

.titulo-interna-formularios{
	width:760px;
	height:60px;
	margin:0px auto;
	float:right;
	margin-top:30px;
}

.titulo-interna span{
	font-family:DaxlinePro-ExtraBold;
	color:#002045;
	font-size:40px;
}

.barra-titulo{
	background-image:url(images/barra_divisao2.png);
	width:760px;
	height:2px;
	margin-top:10px;
}

.texto-valores{
	width:650px;
	min-height:400px;
	display:table;
	margin:0px auto;
}

.texto-empresa{
	width:760px;
	min-height:350px;
	float:right;
}

.texto-empresa span{
	color:#cc9704;
	font-size:18px;
	font-family:'mako';
}

.texto-empresa p{
	font-size:14px;
	font-family:'mako';
	color:#0000FF;
}

.servicos{
	width:760px;
	height:470px;
	float:right;
	text-align:left;
}



.area-noticias{
	width:900px;
	height:470px;
	float:right;
	text-align:left;
	display:table;
}

.area-noticias a{
	text-decoration:none;
}

.rss{
	width:240px;
	height:40px;
	float:left;
	margin-left:145px;
	padding-bottom:10px;
}

.rss span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#cc9704;
	font-weight:bold;
	float:left;
	margin-top:10px;
}

.servico{
	width:700px;
	min-height:200px;
	*height:auto;
	display:table;
	margin:0px auto;
}

.servico-sistema{
	width:900px;
	min-height:200px;
	*height:auto;
	display:table;
	margin:0px auto;
}

.servico .conteudo{
	width:600px;
	min-height:200px;
	*height:auto;	
	display:table;
	float:right;
	margin-bottom:10px;
}

.servico-sistema .conteudo{
	width:820px;
	height:500px;
	float:right;
}

.servico-sistema .conteudo .sistema{
	width:820px;
	height:500px;
	border:none;
}

.servico-sistema .conteudo .sistema body{
	background:transparent;
}

.item-servicos img{
	float:left;
	margin-right:10px;	
}

.servico .conteudo span{
	font-family:'mako';
	font-size:18px;
	color:#cc9704;
	margin-left:5px;
}

.servico .conteudo p{
	font-family:'mako';
	font-size:14px;
	color:#0000FF;
	text-align:justify;
}

.clientes{
	width:760px;
	min-height:200px;
	*height:auto;	
	display:table;
	float:right;	
	margin-bottom:10px;
}

.clientes .cliente{
	width:180px;
	height:100px;	
	display:inline-block;
	margin-left:3px;
	margin-bottom:10px;
}

.clientes .cliente img{
	width: 180px;
	height: 100px;
	border-radius: 5px;
}

.item-noticias{
	width:750px;	
	margin-bottom:10px;
	float:right;	
}

.item-noticias img{
	float:left;
	margin-right:15px;
}

.item-noticias span{
	font-family:'mako';
	font-size:16px;
	color:#cc9704;	
}

.item-noticias p{
	font-family:'mako';
	font-size:14px;
	color:#0000FF;
}

.item-noticias .midias-sociais{
	width:150px;
	height:20px;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#363636;
	margin-top:-10px;
}

.paginacao{
	width:330px;
	height:30px;		
	float:right;
	margin-bottom:30px;
	margin-right:180px;	
}

.paginacao a{
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#cc9704;
	text-decoration:none;
	border:thin solid #363636;
	padding:2px 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-transition: background-color 300ms ease-in, color 300ms ease-in;
	-webkit-transition: background-color 300ms ease-in, color 300ms ease-in;
}

.paginacao a:hover{
	background-color:#363636;
	color:#FFF;
}

.formularios-contabeis{
	width:760px;
	min-height:300px;
	display:table;
	float:right;
}

.linha-form{
	width:760px;
	height:150px;
}

.linha-form .barra-titulo{
	float:left;
}

.linha-form span{
	color:#cc9704;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	float:left;
	margin-top:60px;	
}

.icones-contabeis{
	width:600px;
	height:130px;	
	float:right;	
}

.icones-contabeis .icone{
	width:90px;
	height:90px;
	float:left;
	margin-right:20px;
	margin-top:20px;
	text-align:center;
}

.icones-contabeis .icone p{
	line-height:1px;
	*padding-bottom:5px;
}

.area-mapa{
	width:200px;
	height:400px;
	border:thin solid #999;	
	float:left;
	margin-left:-30px;
	margin-top:135px;	
}

.area-mapa span{
	position:absolute;
	margin-top:-20px;
	text-decoration:none;
	color:#CCC;	
}

.area-mapa span a{	
	text-decoration:none;
	color:#333;
	font-family:'mako';
	float:left;
	margin-left:60px;
	margin-top:5px;	
}

.area-form-contato{
	width:750px;
	height:500px;
	float:right;
}

.area-form-contato .campo-form{
	width:622px;
	height:46px;
	background-image:url(images/campo-form-contato.png);
	float:right;
	margin-top:5px;
}

.area-form-contato .campo-mensagem{
	width:622px;
	height:268px;
	background-image:url(images/campo-msg.png);
	float:right;
	margin-top:5px;
}

.area-form-contato .campo-mensagem textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

.area-form-contato .campo-nome{
	width:110px;
	*padding-top:4px;
	height:30px;
	float:left;
	margin-top:10px;
	margin-left:10px;
}

.area-form-contato .campo-email{
	width:110px;
	*padding-top:4px;
	height:30px;
	float:left;
	margin-top:20px;
	margin-left:10px;
}

.area-form-contato .campo-telefone{
	width:110px;
	*padding-top:3px;
	height:30px;
	float:left;
	margin-top:20px;
	margin-left:10px;
}

.area-form-contato .campo-nome-mensagem{
	width:110px;
	*padding-top:3px;
	height:30px;
	float:left;
	margin-top:20px;
	margin-left:10px;
}

.area-form-contato span{
	font-size:16px;
	line-height:1px;
	color:#cc9704;
	font-family:Arial, Helvetica, sans-serif;	
}

.submenu{
	width:127px;
	height:150px;
	background-image:url(images/submenu.png);
	float:left;
	margin-left:-15px;
	margin-top:-10px;
	position:absolute;
	display:none;
	z-index:100;
}

.submenu ul{
	list-style:none;
	margin-left:-30px;
	margin-top:-5px;
	margin-top:12px \0/;
}

.submenu ul li{	
	width:106px;
	height:15px;
	margin-top:12px;
	*margin-top:6px;
	margin-top:12px \0/;
	*margin-left:33px;
	text-align:center;	
}

.submenu ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;	
	color:#FFF;
	text-decoration:none;
	-moz-transition:text-shadow 300ms ease-in;
	-webkit-transition:text-shadow 300ms ease-in;
	letter-spacing:-1px;
}

.submenu ul li a:hover{
	text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #87F, 0 0 0.2em #FFF;
}

.submenu2{
	width:127px;
	height:150px;
	background-image:url(images/submenu2.png);
	float:left;	
	margin-left:56px;
	margin-top:-10px;
	position:absolute;
	z-index:100;
	display:none;
}

.submenu2 ul{
	list-style:none;
	margin-left:-35px;
	margin-top:-5px;
	margin-top:-1px \0/;
}

.submenu2 ul li{	
	width:114px;
	height:15px;
	margin-top:12px;
	text-align:center;
	*margin-left:38px;
	*margin-top:9px;
}

.submenu2 ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	-moz-transition:text-shadow 300ms ease-in;
	-webkit-transition:text-shadow 300ms ease-in;
	letter-spacing:-1px;
}

.submenu2 ul li a:hover{
	text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #87F, 0 0 0.2em #FFF;
}

.submenu3{
	width:127px;
	height:95px;
	background-image:url(images/submenu3.png);
	float:left;	
	margin-left:337px;
	margin-top:-10px;
	position:absolute;
	z-index:100;
	display:none;
}

.submenu3 ul{
	list-style:none;
	margin-left:0px;
	margin-top:-5px;
	margin-top:-1px \0/;
}

.submenu3 ul li{	
	width:114px;
	height:15px;
	margin-top:12px;
	text-align:center;
	*margin-left:38px;
	*margin-top:9px;
}

.submenu3 ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	-moz-transition:text-shadow 300ms ease-in;
	-webkit-transition:text-shadow 300ms ease-in;
	letter-spacing:-1px;
}

.submenu3 ul li a:hover{
	text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #87F, 0 0 0.2em #FFF;
}

.titulo-noticia{
	width:600px;
	height:30px;
	margin:0px auto;
	margin-top:30px;
	
}

.titulo-noticia span{
	font-family:'mako';
	font-size:18px;
	color:#cc9704;
}

.titulo-noticia p{
	font-family:'mako';
	font-size:12px;
	color:#363636;
	margin-top:5px;
}

.redes-sociais{
	width:500px;
	height:30px;
	margin:0px auto;
	margin-top:10px;
}

.redes-sociais a{
	float:left;
	margin-left:10px;
}

.foto-noticia{
	width:346px;
	height:249px;
	margin-top:20px;
	float:left;
}

.texto-noticia{
	width:500px;
	height:400px;
	float:right;
	margin-right:100px;
	margin-top:10px;
	text-align:justify;
}

.texto-noticia p{
	font-family:'mako';
	font-size:14px;
	color:#363636;
}

.descricao-talentos{
	width:760px;
	height:350px;
	float:right;
	margin-right:100px;
	font-family:'mako';
	font-size:14px;
	color:#0000FF;
	margin-top:-30px;
}

.area-form-curriculum{
	width:760px;
	height:540px;	
	float:right;
	margin-right:100px;
}

.area-form-curriculum .campo-nome{
	width:110px;
	height:30px;
	float:left;
	margin-top:20px;
	margin-left:10px;
}

.area-form-curriculum .campo-email{
	width:110px;
	height:30px;
	float:left;
	margin-top:30px;
	margin-left:10px;
}

.area-form-curriculum .campo-nome-mensagem{
	width:110px;
	height:30px;
	float:left;
	margin-top:80px;
	margin-left:10px;
}

.area-form-curriculum span{
	font-size:16px;
	line-height:1px;
	color:#cc9704;
	font-family:Arial, Helvetica, sans-serif;
}

.campo-form-curriculum{
	width:622px;
	height:46px;
	background-image:url(images/campo-form-contato.png);
	float:right;
	margin-left:10px;
	margin-top:10px;
}

.campo-form-curriculum input{
	width:618px;
	height:38px;
	background:transparent;
	border:none;
	margin-left:5px;
	color:#666;
}

.campo-texto-curriculum{
	width:622px;
	height:268px;	
	float:right;
	margin-top:20px;	
	background-image:url(images/campo-msg.png);	
}

.campo-texto-curriculum textarea{
	width:610px;
	height:250px;
	background:transparent;
	border:none;
	margin-top:5px;
	margin-left:5px;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.campo-envio-curriculum{
	width:197px;
	height:36px;
	float:right;
	background: url(images/anexar.png);	
}

.campo-envio-curriculum input{
	height:26px;
}

#fakeupload{
	width: 100%;
	right:197px;
	position:relative;
	top:5px;
	cursor: default;
}

#envio-curriculum{
	position: relative;
	width:197px;
	font-size:19px;
	top: -25px;
	right: 192px;
	opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity:0);
	cursor:pointer;
}

.banner {
    border: green solid 1px;
    height: 250px;
}

.painel-meio span {
    font-family: 'DaxlinePro-ExtraBold';   
}

.menu-inner {
	height: 153px;
	width: 647px;
        margin-bottom: 54px;
}

#mmenu {
	width: 680px;
	height: 37px;
	float: left;
	padding-left: -10px;
	margin-top: 22px;
	margin-left:-40px;
}

#mmenu li {
	list-style: none;
	float: left;
	margin-right: 10px;
}


#mmenu li a {
    background: url(images/icones.png) no-repeat;
    display: block;
    height: 153px;
}


#mmenu .i0 {
    background-position: 0px 0px;
    width: 124px;
}

#mmenu .i1 {
    background-position: -126px 0px;
    width: 124px;
}

#mmenu .i2 {
    background-position: -256px 0px;
    width: 124px;
}

#mmenu .i3 {
    background-position: -389px 0px;
    width: 124px;
}

#mmenu .i4 {
    background-position: -521px 0px;
    width: 124px;
}

.titulo-table {
    color: #CC9704;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
}

td {
    color: #0000FF;
    font-family: 'mako';
    font-size: 14px;
}

/* RODAPE */

#background-rodape{
	width:100%;		
	margin:0px auto;
	float: left;
	background-image:url(images/bg_rodape.png);
}

#background-rodape .bg{
	width: 1220px;
	height: 260px;
	margin: 0px auto;
	background:url(images/bg_rodape_spot.png) center;
	
}

.area-rodape{
	width:940px;		
	margin:0px auto;	
}

.area-rodape .container{
	width: 180px;
	height: 260px;
	float: left;
	background: url(images/spacer-rodape.png) right no-repeat;	
	padding: 0 20px;
	display:inline-block;	
}

.area-rodape .container.last{
	width: 170px;
	background:none;	
}

.area-rodape .container.middle{
	width: 200px;	
}

.area-rodape .container.large{
	width: 230px;			
}

.area-rodape .titulo{
	font-family: 'HelveticaNeueLTPro-Bold';
	color: #dce5f7;
	text-shadow:1px 1px 3px #333333;	
	margin-top: 40px;
	margin-left: 10px;
}

.area-rodape .conteudo{
	width: 200px;	
	margin-top:20px;
	margin-left: 10px;
	font-family: 'HelveticaNeueLTPro-Roman';
	color: #dce5f7;
	font-size:12px;
}

.area-rodape .conteudo a{
	font-family: 'HelveticaNeueLTPro-Roman';
	color: #dce5f7;
	font-size:12px;
	text-decoration:none;	
}

.area-rodape .conteudo .mapa-site{
	margin-top: 15px;
	list-style:none;
	padding: 0;		
}

.area-rodape .conteudo .mapa-site li{
	display:inline-block;
	width: 49%;
	margin-top:5px;	
}

.area-rodape .conteudo .mapa-site a{	
	font-size: 12px;
}

.area-rodape .conteudo.endereco{
	margin-top: 0px;
	line-height: 20px;	
	font-size: 12px;
}

.area-rodape .conteudo .redes{
	list-style:none;
	padding: 0;		
}

.area-rodape .conteudo .redes li{
	margin-bottom: 5px;
}

.area-rodape .conteudo .redes a{
	height:29px;
	line-height: 29px;		
}

.area-rodape .conteudo .redes img{
	margin-right: 7px;
    vertical-align: middle;	
}

.area-rodape .conteudo.icones{
	
}

.area-rodape .conteudo .links{
	list-style:none;
	padding: 0;	
	display:inline-block;
}

.area-rodape .conteudo .links li{
	float:left;
	height: 45px;
    text-align: center;
    width: 66px;
}

/* INPUT RADIO */

.radios {
    border: none;
}

.has-js .label_radio {
	display: inline-block;
	line-height: 20px;
	height: 20px;
    padding-left: 25px; 
    font-family: 'Arial';
	font-size: 14px; 
    margin-left: -10px; 
    margin-right: 20px; 		color: #0000FF;
}

.has-js .label_radio { 
    background: url(images/radio-off2.png) no-repeat; 
}

.has-js label.r_on { 
    background: url(images/radio-on2.png) no-repeat; 
}

.has-js .label_radio input { 
    position: absolute; 
    left: -9999px; 
}                                