<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $this->pageTitle; ?></title>
<?php echo $this->headLink()->setStylesheet( $this->baseUrl('public/css/style.css') ); ?>
<?php echo $this->headScript()->setFile($this->baseUrl('public/js/jquery-1.7.1.js')); ?>
<?php echo $this->headScript()->setFile($this->baseUrl('public/js/jquery-ui.js')); ?>
<?php echo $this->headLink()->setStylesheet( $this->baseUrl('public/js/css/jquery-ui.css') ); ?>
<?php echo $this->headScript()->setFile($this->baseUrl('public/js/jquery.dataTables.js')); ?>
<?php echo $this->headScript()->setFile($this->baseUrl('public/js/easyTooltip.js')); ?>
<?php echo $this->headScript()->setFile($this->baseUrl('public/js/superfish/js/superfish.js')); ?>
<?php echo $this->headScript()->setFile($this->baseUrl('public/js/ckeditor/ckeditor.js')); ?>
<?php echo $this->headScript()->setFile($this->baseUrl('public/js/uploader/jquery.MultiFile.js')); ?>

<script> 
 
    $(document).ready(function() { 
        $('ul').superfish({
			delay:       800,
			animation:   {height:'show'},
			autoArrows:  false
		});
                
        $('#tabela').dataTable({
            "sPaginationType": "full_numbers"
        });
        
        $("a").easyTooltip();    
        
        

        
    }); 
</script>
</head>

<body>
	<div id="top">
    	<div class="bkg-top">
        </div>
         
      <div class="container-top">
       	<div class="ponta-bkg">
            <div class="logo-empresa">
            	<img src="<?php echo $this->baseUrl('public/css/images/logoelite.png'); ?>" />
            </div>   
        </div>
        
        <div class="titulo-empresa">
        	<span class="titulo">Elite</span><br />
            <span class="subtitulo">Consultores</span>
        </div>              
      </div>   
      
    </div>
    
    <div id="meio">
    	<div class="container-meio">
        	<div class="bkg-menu">
            	
                
                <div class="area-sessao">                
                	Bem vindo, <span><?= $this->usuario; ?></span>
                    <div class="logout">
                		<a title="Efetuar Logout" href="<?php echo $this->url(array('controller' => 'index', 'action' => 'logout'), null, true); ?>">
                                    <img width="32" height="32" src="<?php echo $this->baseUrl('public/css/images/logout.png'); ?>" />
                                </a>
                	</div>
                </div>
            	<div class="lista-menu">
                	<ul>
                    	<li class="administracao"><a href="">Administração <img src="<?php echo $this->baseUrl('public/css/images/seta.png'); ?>" /></a>
                        	<ul>
                            	<li class="ultimo"><a href="<?=$this->baseUrl('admin/usuario');?>">Usuários</a></li>
                            </ul>                        
                        </li>
                        <li class="website"><a href="">Website <img src="<?php echo $this->baseUrl('public/css/images/seta.png'); ?>" /></a>
                        	<ul>
                                <li><a href="<?=$this->baseUrl('admin/artigo');?>">Artigos</a></li>
                                <li><a href="<?=$this->baseUrl('admin/noticias');?>">Notícias</a></li> 
                            	<li class="ultimo"><a href="<?=$this->baseUrl('admin/videos');?>">Vídeos</a></li> 
                            </ul>                        
                        </li>
                        <li class="pessoal"><a href="">Pessoal <img src="<?php echo $this->baseUrl('public/css/images/seta.png'); ?>" /></a>
                        	<ul>                          
                                <li class="ultimo"><a href="<?=$this->baseUrl('admin/lixeira');?>">Lixeira</a></li>
                            </ul>                        
                        </li>
                   	</ul>
                </div>
            </div>
            
            <div class="area-conteudo">
                <div class="titulo-area">
                    <span><?= $this->tituloArea; ?></span>
                </div>               
                <?php echo $this->layout()->content; ?>
            </div>
            
        </div>
    </div>
    
    <div id="bottom">
    	<div class="multclick">
        	<a target="_blank" href="http://www.multclick.com.br"><img src="<?php echo $this->baseUrl('public/css/images/logo-multclick.png'); ?>" /></a>
        </div>
    </div>
	

</body>


</html>