<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $this->pageTitle; ?></title>
<?php echo $this->headLink()->setStylesheet( $this->baseUrl('public/css/style.css') ); ?>
</head>

<body>

	<div id="container-login">
    	
        <div class="logo-multclick">
        </div>
		<?php echo $this->layout()->content; ?>

	</div>

</body>


</html>
