
     <div class="form-cadastro-usuario">
         <div align="center"><?= $this->mensagem_cadastro ; ?></div>
                    <form method="<?= $this->form_usuario->getMethod(); ?>" action="<?= $this->form_usuario->getAction(); ?>">
                        <div class="campo-form">                             
                            <span>Nome:</span>
                            <?= $this->form_usuario->nome; ?>
                        </div>
                        
                        <div class="campo-form">
                            <span>E-mail:</span>
                            <?= $this->form_usuario->email; ?>
                        </div>
                        
                        <div class="campo-form">
                            <span>Login:</span>
                            <?= $this->form_usuario->login; ?>
                        </div>
                        
                        <div class="campo-form">
                            <span>Senha:</span>
                            <?= $this->form_usuario->senha; ?>
                        </div>  
                        
                        <div class="botao-cadastrar">
                            <input type="image" src="<?php echo $this->baseUrl('public/css/images/btn-cadastrar.png'); ?>" name="submit">
                        </div>  
                    </form>
                    
                </div>