 <div class="funcoes">
      <a class="btn" href='usuario/cadastro'><span>Cadastrar Usuário</span></a>             
 </div>
<div class="area-tabela">    
                    <table id="tabela" border='0' width="800">
                        <thead>
                            <tr>                                
                                <th>Nome</th>
                                <th>Usuário</th>
                                <th>Status</th>
                                <th>Data de Criação</th>
                                <th>Ultima Alteração</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ( $this->conta as $conta ) : ?>
                            <tr>                                
                                <td><?= $conta->nome; ?></td>
                                <td><?= $conta->usuario; ?></td>
                                <td><?php if($conta->status == '1'){ echo "Ativado";}else{ echo "Desativado";} ?></td>
                                <td><?php
                                $data = new Zend_Date($conta->data_criacao);
                                echo $data; ?>
                                </td>
                                <td><?php $data = new Zend_Date($conta->data_modificado);
                                echo $data; ?></td>
                                <td><a title="Editar" href="<?= $this->baseUrl('admin/usuario/edicao/id/'.$conta->id); ?>"><img src="<?php echo $this->baseUrl('public/css/images/btn-editar.png'); ?>"/></a>&nbsp;&nbsp;
                                    <?php if($conta->status == '1'){ ?>
                                        <a title="Desativar" href="<?= $this->baseUrl('admin/usuario/exclusao/id/'.$conta->id); ?>" ><img src="<?php echo $this->baseUrl('public/css/images/btn-vermelho.png'); ?>"/></a></td>
                                    <?php }else{ ?>
                                        <a title="Ativar" href="<?= $this->baseUrl('admin/usuario/ativacao/id/'.$conta->id); ?>" ><img src="<?php echo $this->baseUrl('public/css/images/btn-verde.png'); ?>"/></a></td>
                                    <?php } ?>        
                            </tr>
                            <?php endforeach; ?>
                            
                        </tbody>
                    </table>
                </div>