<div class="funcoes">     
          <a class="btn" href=""><span>Cadastrar Album</span></a>      
 </div>

<div class="form-edicao-imagem">
     <?php foreach($this->albuns as $album) : 
            foreach($this->imagens as $imagem) : 
                if($imagem->id == $album->id_capa){?>
        
        <div class="container-album">
                
            <div class="imagem">
                <a title="Ver Imagens do Album" href="<?= '/admin/albuns/ver-album/id/'.$album->id; ?>"><img width="200" height="140" src="<?= $this->baseUrl('public/'.$imagem->url_imagem);?>" /><a/>
            </div>            
            <div class="btn-excluir">
                <a title="Excluir este Album" href="<?= "/admin/albuns/excluir-album/id/".$album->id; ?>">
                    <img src="<?= $this->baseUrl('public/css/images/btn-vermelho.png');?>">
                </a>
            </div>
        
            <div class="titulo-album">
                <?= strtoupper($album->tipo)."<br>".$album->nome_album; ?>
            </div>
            <div class="funcoes-album">
                <a class="btn" href="">Editar Álbum</a>
            </div>
    </div>
     <?php
                }
     endforeach;
     endforeach; ?>
    
    
</div>