<div class="form-cadastro-noticia">
    <div align="center"><?= $this->mensagem_cadastro ; ?></div>
                    <form method="<?= $this->form_artigo->getMethod(); ?>" action="<?= $this->form_artigo->getAction(); ?>">
                        <div class="campo-form">                             
                            <span>Título:</span>
                            <?= $this->form_artigo->titulo; ?>
                        </div>
                        
                        <div class="campo-form">
                            <span>Descricao:</span>
                            <?= $this->form_artigo->descricao; ?>
                        </div>
                        
                        <div class="campo-texto">
                            <span>Texto:</span>
                            <?= $this->form_artigo->texto; ?>
                        </div>                         
                        
                        <div class="botao-cadastrar">
                            <input type="image" src="<?php echo $this->baseUrl('public/css/images/btn-cadastrar.png'); ?>" name="submit">
                        </div>  
                    </form>
</div>