<script>
	$(function() {
		$( "#sortable" ).sortable();
		$( "#sortable" ).disableSelection();
	});
</script>
<div class="area-modulos">
    
    <div class="titulo-area">
        <span>Módulos do site</span>
    </div>
    
    <div class="links-modulos">
        <ul id="sortable">
            <li class="ui-state-default"><div class="link"><a href="artigo">Dicas</a></div></li>
            <li class="ui-state-default"><div class="link"><a href="pacotes">Pacotes</a></div></li> 
        </ul>
    </div>   
    
</div>