<div class="mensagem-index">
    <?= $this->mensagem_index; ?>
</div>
<div class="area-conteudo">    
    
    <div class="area-ultimas-alteracoes">
        <span>Últimas mudanças:</span>
        <?php foreach($this->mudancas as $mudanca):
                $data = new Zend_Date($mudanca->data);
                $data_final = substr($data,'0', '11');
                if($mudanca->acao == 'cadastro'){
                    echo "<p>Cadastrou um(a) ".$this->tabelas[$mudanca->tabela_usada]." no dia $data_final</p> ";
                }elseif($mudanca->acao == 'edição'){
                    echo "<p>Editou um(a) ".$this->tabelas[$mudanca->tabela_usada]." no dia $data_final</p> ";
                }elseif($mudanca->acao == 'exclusão'){
                    echo "<p>Excluiu um(a) ".$this->tabelas[$mudanca->tabela_usada]." no dia $data_final</p>";
                }elseif($mudanca->acao == 'desativação'){
                    echo "<p>Desativou um(a) ".$this->tabelas[$mudanca->tabela_usada]." no dia $data_final</p>";
                }
       ?>
        
        <?php endforeach ?>
        
        <a href="">Ver todas as ações</a>
    </div>
</div>