@charset "utf-8";
/* CSS Document */

body{
	background:url(images/backgroundl.png) repeat-x;
}

.container{
	width:960px;
	height:630px;
	margin:0px auto;
}

.area-logo{
	width:350px;
	height:400px;	
	float:left;
	margin-top:30px;
}

.area-logo span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:38px;
	margin-left:25px;
	color:#333333;
	font-weight:bold;
}

.logomarca{
	width:150px;
	height:149px;
	margin:0px auto;
	margin-top:30px;	
}

.texto-visita{
	width:517px;
	height:129px;
	float:right;
	background-image:url(images/texto_estaremos_no_ar.png);
	margin-top:20px;
}


.area-form{
	width:530px;
	height:340px;
	float:right;
	margin-top:10px;
}

.info-empresa{
	width:350px;
	height:200px;
	float:left;
	margin-left:30px;
}

.info-empresa span{
	font-weight:bold;
}

.info-empresa p{

}

.logo-multclick{
	width:200px;
	height:100px;
	margin-top:45px;
	margin-left:10px;
	float:right;
}

.campo-form{
	width:237px;
	height:37px;
	background-image:url(images/campo_form.png);		
}

.campo-texto{
	width:267px;
	height:275px;
	background-image:url(images/campo_texto.png);	
	position:absolute;	
	margin-left:250px;
	float:right;
	margin-top:-160px;
}

