<div class="area-tabela">    
                    <table id="tabela" border='0' width="800">
                        <thead>
                            <tr>  
                                <th>ID</th>
                                <th>Nome</th>                                
                                <th>Tabela</th>
                                <th>Data Exclusão</th>                                
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ( $this->lixeira as $lixeira ) : ?>
                            <tr>                                
                                <td><?= $lixeira->id; ?></td>
                                <td><?= $lixeira->nome_item; ?></td>  
                                <td><?= $lixeira->nome_tabela; ?></td>
                                <td><?php
                                $data = new Zend_Date($lixeira->data_deletado);
                                echo $data; ?>
                                </td>                                
                                <td>
                                    <a title="Restaurar" href="<?= $this->baseUrl('admin/lixeira/restaurar/id/'.$lixeira->id); ?>"><img src="<?php echo $this->baseUrl('public/css/images/btn-restaurar.png'); ?>"/></a>&nbsp;&nbsp;
                                    
                                    <a title="Excluir" href="<?= $this->baseUrl('admin/lixeira/excluir/id/'.$lixeira->id); ?>" ><img src="<?php echo $this->baseUrl('public/css/images/btn-vermelho.png'); ?>"/></a></td>
                            </tr>
                            <?php endforeach; ?>
                            
                        </tbody>
                    </table>
                </div>