<div class="form-cadastro-noticia">
    <script type="text/javascript">
        $(function() {
            $( "#datepicker" ).datepicker({dateFormat: 'dd/mm/yy'});
        });
    </script>
    <div align="center"><?= $this->mensagem_edicao ; ?></div>
                    <form method="<?= $this->form_imovel->getMethod(); ?>" action="<?= $this->form_imovel->getAction(); ?>">
                        <div class="campo-form">                             
                            <span>Nome:</span>
                            <?= $this->form_imovel->nome; ?>
                        </div>
                        
                        <div class="campo-form-texto">
                            <span>Descricao:</span>
                            <?= $this->form_imovel->descricao; ?>
                        </div>
                        
                        <div class="campo-data">                            
                            <span>Data de Entrega:</span>
                            <?= $this->form_imovel->data_entrega; ?>
                        </div> 
                        
                        <div class="campo-form">
                            <span>Endereço:</span>
                            <?= $this->form_imovel->endereco; ?>
                        </div> 
                        
                        <div class="campo-form">
                            <span>Valor (R$):</span>
                            <?= $this->form_imovel->valor; ?>
                        </div>
                        
                        <div class="campo-form">
                            <span>Tamanho (m²):</span>
                            <?= $this->form_imovel->tamanho; ?>
                        </div>
                        
                        <div class="campo-checkbox">
                            <span>Destaque:</span>
                            <?= $this->form_imovel->destaque; ?>
                        </div>
                        
                        
                        
                        <div class="botao-cadastrar">
                            <input type="image" src="<?php echo $this->baseUrl('public/css/images/btn-edicao.png'); ?>" name="submit">
                        </div>  
                    </form>
</div>