 <div class="funcoes">
      <a class="btn" href='imoveis/cadastrar-imovel'><span>Cadastrar Imóvel</span></a>       
 </div>
<div class="area-tabela">    
                    <table id="tabela" border='0' width="800">
                        <thead>
                            <tr>  
                                <th>Nome</th>
                                <th>Valor</th>                                
                                <th>Destaque</th>
                                <th>Data de Criação</th>
                                <th>Data de Modificação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ( $this->imoveis as $video ) : ?>
                            <tr>                                
                                <td><?= $video->nome_imovel; ?></td>
                                <td><?= $video->valor; ?></td>  
                                <td><?php if($video->destaque == '1'){
                                    echo "Sim";
                                }else{
                                    echo "Não";
                                }
                                ?></td>
                                <td><?php
                                $data = new Zend_Date($video->data_criacao);
                                echo $data; ?>
                                </td>
                                <td><?php $data = new Zend_Date($video->data_modificado);
                                echo $data; ?></td>
                                <td><a title="Imagens" href="<?= '/admin/imoveis/editar-imagem/id/'.$video->id; ?>"><img width="22" heigth="22" src="<?php echo $this->baseUrl('public/css/images/ico_fotos.png'); ?>"/></a>&nbsp;&nbsp;
                                    <a title="Editar" href="<?= '/admin/imoveis/editar-imovel/id/'.$video->id; ?>"><img src="<?php echo $this->baseUrl('public/css/images/btn-editar.png'); ?>"/></a>&nbsp;&nbsp;
                                   
                                    <a title="Remover" href="<?= '/admin/imoveis/excluir-imovel/id/'.$video->id; ?>"><img src="<?php echo $this->baseUrl('public/css/images/btn-lixeira.png'); ?>"/></a></td>
                            </tr>
                            <?php endforeach; ?>
                            
                        </tbody>
                    </table>
                </div>