<div class="area-login">
    <form action="<?= $this->form_login->getAction(); ?>" method="<?= $this->form_login->getMethod(); ?>">  
            	<div class="campo-login">
                	<span>Login</span>
                    <?= $this->form_login->login; ?>
                </div>
                
                <div class="campo-senha">
                	<span>Senha</span>
                    <?= $this->form_login->senha; ?>
                </div>               
                 
                <div class="campo-botao">
                	<input type="hidden" name="submit">            	
                	<?= $this->form_login->botao; ?>
                </div>
    </form>    
        </div>
