<?php echo $this->headScript()->setFile($this->baseUrl('public/js/fancybox/fancybox/jquery.fancybox-1.3.4.js')); ?>
<?php echo $this->headLink()->setStylesheet( $this->baseUrl('public/js/fancybox/fancybox/jquery.fancybox-1.3.4.css') ); ?>
<script>
    $(function(){
        $("a#fancy").fancybox({
		'transitionIn'	:	'elastic',
		'transitionOut'	:	'elastic',
		'speedIn'		:	600, 
		'speedOut'		:	200, 
		'overlayShow'	:	false
	});
    });
</script>
<div class="funcoes">
      <span><?=$this->artigo->titulo_artigo;?></span> 
      <div class="btn-cadastro-imagem">
          <a id="fancy" class="btn" href="#iframe"><span>Cadastrar Imagens</span></a>
      </div>
 </div>

<div class="form-edicao-imagem">
    <div align="center"><?= $this->mensagem_edicao ; ?></div>
    <form method="post" action="">
    <?php foreach($this->imagem as $imagem) : ?>
    <div class="container-imagem">
        <div class="imagem">
            <img width="200" height="140" src="<?= $this->baseUrl($imagem->url_imagem);?>" />
        </div>
        <div class="btn-excluir">
            <a title="Excluir esta imagem" href="<?php echo $this->baseUrl("admin/artigo/excluir-imagem/id/".$imagem->id); ?>">
                <img src="<?= $this->baseUrl('public/css/images/btn-vermelho.png');?>">
            </a>
        </div>
        <div class="campo-form">
            <input type="hidden" name="id[]" value="<?= $imagem->id; ?>">
            <input type="text" name="<?php echo 'titulo_imagem_'.$imagem->id;?>" value="<?= $imagem->titulo_imagem; ?>">
        </div>
        <div class="campo-form-texto">
            <textarea rows="3" cols="5" name="<?php echo 'descricao_imagem_'.$imagem->id;?>"><?= $imagem->descricao_imagem; ?></textarea>
        </div>
        
        <div class="campo-form-radio">
            <span>Destaque</span>&nbsp;
            Sim:<input type="radio" <?php if($imagem->destaque == '1'){echo "checked='checked'";} ?> name="<?php echo 'destaque_'.$imagem->id;?>" value="1">
            Não:<input type="radio" <?php if($imagem->destaque == '0'){echo "checked='checked'";} ?> name="<?php echo 'destaque_'.$imagem->id;?>" value="0">
        </div>
    </div>
<?php endforeach; ?>   

    <div class="botao-cadastrar">        
        <input type="image" src="<?= $this->baseUrl('public/css/images/btn-envio.png');?>" name="submit">
    </div>
    </form>
    
    <div style="display:none">
        <div id="iframe" class="form-cadastro-imagem-iframe">

        <div align="center"><?= $this->mensagem_cadastro ; ?></div>
                        <form enctype="multipart/form-data" method="post" action="/admin/artigo/cadastrar-imagem/id/<?=$this->artigo->id;?>">
                            <div class="campo-form-arquivo">                             
                                <span>Selecione as imagens (Tamanho ideal - 400 x 300):</span>
                                <input type="file" name="url_imagem[]" class="multi">
                            </div>

                            <div class="campo-envio">
                               <input type="image" src="<?php echo $this->baseUrl('public/css/images/btn-envio.png'); ?>" name="submit">
                            </div>

                        </form>    
        </div>
    </div>
</div>