
<div class="funcoes">
                  
 </div>
<div class="form-cadastro-usuario">

    <div align="center"><?= $this->mensagem_cadastro ; ?></div>
                    <form enctype="multipart/form-data" method="<?= $this->form_video->getMethod();?>" action="<?= $this->form_video->getAction();?>">
                        <div class="campo-form">                             
                            <span>Título:</span>
                            <?= $this->form_video->titulo_video ;?>
                        </div>
                        
                        <div class="campo-form-texto">                             
                            <span>Descrição:</span>
                            <?= $this->form_video->descricao_video ;?>
                        </div>
                        
                        <div class="campo-form">                             
                            <span>Link:</span>
                            <?= $this->form_video->url_video ;?>
                        </div>
                        
                        <div class="campo-form-radio">
                            <span>Destaque</span>&nbsp;
                            Sim:<input type="radio" name="destaque" value="1">
                            Não:<input type="radio" name="destaque" value="0">
                        </div>
                        
                        <div class="campo-envio">
                           <input type="image" src="<?php echo $this->baseUrl('public/css/images/btn-envio.png'); ?>" name="submit">
                        </div>
                    
                    </form>    
</div>