<div class="form-cadastro-usuario">

    <div align="center"><?= $this->mensagem_edicao ; ?></div>
                    <form enctype="multipart/form-data" method="<?= $this->form_video->getMethod();?>" action="<?= $this->form_video->getAction();?>">
                        <div class="campo-form">                             
                            <span>Título:</span>
                            <?= $this->form_video->titulo_video ;?>
                        </div>
                        
                        <div class="campo-form-texto">                             
                            <span>Descrição:</span>
                            <?= $this->form_video->descricao_video ;?>
                        </div>
                        
                        <div class="campo-form-video">                             
                            <span>Vídeo:</span>
                            <iframe width="320" height="240" src="<?= $this->video->url_video ;?>" frameborder="0" allowfullscreen></iframe>                            
                        </div>
                        
                        <div class="campo-form-radio">
                            <span>Destaque</span>&nbsp;
                            Sim:<input type="radio" <?php if($this->video->destaque == '1'){echo "checked='checked'";} ?> name="destaque" value="1">
                            Não:<input type="radio" <?php if($this->video->destaque == '0'){echo "checked='checked'";} ?> name="destaque" value="0">
                        </div>
                        
                        <div class="campo-envio">
                           <input type="image" src="<?php echo $this->baseUrl('public/css/images/btn-edicao.png'); ?>" name="submit">
                        </div>
                    
                    </form>    
</div>