 <div class="funcoes">
      <a class="btn" href='videos/cadastrar-video'><span>Cadastrar Vídeo</span></a>       
 </div>
<div class="area-tabela">    
                    <table id="tabela" border='0' width="800">
                        <thead>
                            <tr>  
                                <th>Nome</th>                                                               
                                <th>Imagem</th>
                                <th>Destaque</th>
                                <th>Data de Criação</th>
                                <th>Data de Modificação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ( $this->videos as $video ) : ?>
                            <tr>                                
                                <td><?= $video->titulo_video; ?></td>
                                <td><img src="<?= $video->foto_video; ?>" width="140" height="100"/></td>  
                                <td><?php if($video->destaque == '1'){
                                    echo "Sim";
                                }else{
                                    echo "Não";
                                }
                                ?></td>
                                <td><?php
                                $data = new Zend_Date($video->data_criacao);
                                echo $data; ?>
                                </td>
                                <td><?php $data = new Zend_Date($video->data_modificado);
                                echo $data; ?></td>
                                <td><a title="Editar" href="<?= '/admin/videos/editar-video/id/'.$video->id; ?>"><img src="<?php echo $this->baseUrl('public/css/images/btn-editar.png'); ?>"/></a>&nbsp;&nbsp;
                                    <script language="Javascript">
                                    function confirmacao() {
                                         var resposta = confirm("Deseja realmente deletar?");

                                         if (resposta == true) {
                                              window.location.href = "<?= '/admin/videos/excluir-video/id/'.$video->id; ?>";
                                         }
                                    }
                                    </script>
                                    <a title="Excluir" href="" onclick="confirmacao();"><img src="<?php echo $this->baseUrl('public/css/images/btn-vermelho.png'); ?>"/></a></td>
                            </tr>
                            <?php endforeach; ?>
                            
                        </tbody>
                    </table>
                </div>