<div class="area-newsletter">
    <form action="<?= $this->form_newsletter->getAction(); ?>" method="<?= $this->form_newsletter->getMethod(); ?>">
                       <div class="lista-emails">
                           <select name="lista-emails">
                               <option value="todos">Todos</option>
                               <?php foreach ( $this->emails as $emails ) : ?>
                               <option value="<?= $emails->email; ?>"><?= $emails->email; ?></option> 
                               <?php endforeach; ?>
                           </select>
                       </div>
                       
                       <div class="campo-mensagem">
                           <?= $this->form_newsletter->mensagem; ?>
                       </div>
                       
                       <div class="campo-botao">
                           <input type="image" src="<?= $this->baseUrl('public/css/images/btn-envio.png');?>" name="enviar"/>
                       </div>
                    </form>
                </div>