<div class="funcoes">                        
                        <a class="btn" href="newsletter/compor-mensagem"><span>Compor Mensagem</span></a>
                        
                    </div>
<div class="area-tabela">
                    
                    <table id="tabela" border='0' width="800">
                        <thead>
                            <tr>                                
                                <th>Nome</th>
                                <th>E-Mail</th>                                
                                <th>Data de Cadastro</th>
                                <th>Confirmação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ( $this->emails as $emails ) : ?>
                            <tr>
                                <td><?= $emails->nome; ?></td>
                                <td><?= $emails->email; ?></td>                                
                                <td><?php $data = new Zend_Date($emails->data_adicionado);
                                echo $data;
                                 ?></td> 
                                <td><?php if($emails->confirmado == '1'){
                                    echo "Sim";
                                }else{
                                    echo "Não";
                                }?></td>
                                <td><a title="Excluir" href="/excluir"><img src="<?= $this->baseUrl('public/css/images/btn-vermelho.png'); ?>"/></a></td>
                            </tr>
                            <?php endforeach; ?>
                            
                        </tbody>
                    </table>
                </div>

<div align='center'>E-mails cadastrados que não forem confirmados com 24h, serão deletados automaticamente</div>