@font-face {
    font-family: 'Myriad Pro';
    src: url('myriadpro-bold.eot');
    src: url('myriadpro-bold.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-bold.woff') format('woff'),
         url('myriadpro-bold.ttf') format('truetype'),
         url('myriadpro-bold.svg#myriadpro-bold') format('svg');
    src: url('myriadpro-bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mako';
    src: url('mako-regular.eot');
    src: url('mako-regular.eot?#iefix') format('embedded-opentype'),
         url('mako-regular.woff') format('woff'),
         url('mako-regular.ttf') format('truetype'),
         url('mako-regular.svg#mako-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaxlinePro-ExtraBold';
    src: url('daxlinepro-extrabold.eot');
    src: url('daxlinepro-extrabold.eot?#iefix') format('embedded-opentype'),
         url('daxlinepro-extrabold.woff') format('woff'),
         url('daxlinepro-extrabold.ttf') format('truetype'),
         url('daxlinepro-extrabold.svg#daxlinepro-extrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTPro-Light';
    src: url('helveticaneueltpro-light-webfont.eot');
    src: url('helveticaneueltpro-light-webfont.eot?iefix') format('eot'),
         url('helveticaneueltpro-light-webfont.woff') format('woff'),
         url('helveticaneueltpro-light-webfont.ttf') format('truetype'),
         url('helveticaneueltpro-light-webfont.svg#webfont9E0WXhOn') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTPro-Medium';
    src: url('helveticaneueltpro-medium-webfont.eot');
    src: url('helveticaneueltpro-medium-webfont.eot?iefix') format('eot'),
         url('helveticaneueltpro-medium-webfont.woff') format('woff'),
         url('helveticaneueltpro-medium-webfont.ttf') format('truetype'),
         url('helveticaneueltpro-medium-webfont.svg#webfont00wSomqB') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTPro-Thin';
    src: url('helveticaneueltpro-thin-webfont.eot');
    src: url('helveticaneueltpro-thin-webfont.eot?iefix') format('eot'),
         url('helveticaneueltpro-thin-webfont.woff') format('woff'),
         url('helveticaneueltpro-thin-webfont.ttf') format('truetype'),
         url('helveticaneueltpro-thin-webfont.svg#webfontdEQQX7sm') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTPro-Bold';
    src: url('helveticaneueltpro-bold-webfont.eot');
    src: url('helveticaneueltpro-bold-webfont.eot?iefix') format('eot'),
         url('helveticaneueltpro-bold-webfont.woff') format('woff'),
         url('helveticaneueltpro-bold-webfont.ttf') format('truetype'),
         url('helveticaneueltpro-bold-webfont.svg#webfont8903Iui6') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTPro-Roman';
    src: url('helveticaneueltpro-roman-webfont.eot');
    src: url('helveticaneueltpro-roman-webfont.eot?iefix') format('eot'),
         url('helveticaneueltpro-roman-webfont.woff') format('woff'),
         url('helveticaneueltpro-roman-webfont.ttf') format('truetype'),
         url('helveticaneueltpro-roman-webfont.svg#webfont8903Iui6') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTPro-Black';
    src: url('helveticaneueltpro-black-webfont.eot');
    src: url('helveticaneueltpro-black-webfont.eot?iefix') format('eot'),
         url('helveticaneueltpro-black-webfont.woff') format('woff'),
         url('helveticaneueltpro-black-webfont.ttf') format('truetype'),
         url('helveticaneueltpro-black-webfont.svg#webfont1FTKW2Wc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTPro25UltraLigh';
    src: url('helveticaneueltpro-ultralight-webfont.eot');
    src: url('helveticaneueltpro-ultralight-webfont.eot?iefix') format('eot'),
         url('helveticaneueltpro-ultralight-webfont.woff') format('woff'),
         url('helveticaneueltpro-ultralight-webfont.ttf') format('truetype'),
         url('helveticaneueltpro-ultralight-webfont.svg#webfontmHjOmX3b') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText14L800wt';
    src: url('titilliumtext800wt-webfont.eot');
    src: url('titilliumtext800wt-webfont.eot?#iefix') format('embedded-opentype'),
         url('titilliumtext800wt-webfont.woff') format('woff'),
         url('titilliumtext800wt-webfont.ttf') format('truetype'),
         url('titilliumtext800wt-webfont.svg#TitilliumText14L800wt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText14L600wt';
    src: url('titilliumtext600wt-webfont.eot');
    src: url('titilliumtext600wt-webfont.eot?#iefix') format('embedded-opentype'),
         url('titilliumtext600wt-webfont.woff') format('woff'),
         url('titilliumtext600wt-webfont.ttf') format('truetype'),
         url('titilliumtext600wt-webfont.svg#TitilliumText14L600wt') format('svg');
    font-weight: normal;
    font-style: normal;

}