
<div class="funcoes">
      <span><?=$this->noticia->titulo_noticia;?></span>            
 </div>
<div class="form-cadastro-imagem">

    <div align="center"><?= $this->mensagem_cadastro ; ?></div>
                    <form enctype="multipart/form-data" method="post" action="">
                        <div class="campo-form-arquivo">                             
                            <span>Selecione as imagens:</span>
                            <input type="file" name="url_imagem[]" class="multi">
                        </div>
                        
                        <div class="campo-envio">
                           <input type="image" src="<?php echo $this->baseUrl('public/css/images/btn-envio.png'); ?>" name="submit">
                        </div>
                    
                    </form>    
</div>