<div class="form-cadastro-noticia">
    <div align="center"><?= $this->mensagem_edicao ; ?></div>
                    <form method="<?= $this->form_noticia->getMethod(); ?>" action="<?= $this->form_noticia->getAction(); ?>">
                        <div class="campo-form">                             
                            <span>Título:</span>
                            <?= $this->form_noticia->titulo; ?>
                        </div>
                        
                        <div class="campo-form">
                            <span>Descricao:</span>
                            <?= $this->form_noticia->descricao; ?>
                        </div>
                        
                        <div class="campo-texto">
                            <span>Texto:</span>
                            <?= $this->form_noticia->texto; ?>
                        </div>                         
                        
                        <div class="botao-cadastrar">
                            <input type='hidden' name="id" value="<?= $this->id_noticia; ?>"/>
                            <input type="image" src="<?php echo $this->baseUrl('public/css/images/btn-edicao.png'); ?>" name="submit">
                        </div>  
                    </form>
</div>