 <div class="funcoes">
      <a class="btn" href='noticias/cadastrar-noticia'><span>Cadastrar Nova Notícia</span></a>             
 </div>
<div class="area-tabela">    
                    <table id="tabela" border='0' width="800">
                        <thead>
                            <tr>                                
                                <th>Id</th>
                                <th>Título</th>
                                <th>Data da Notícia</th>                                
                                <th>Ultima Alteração</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ( $this->noticias as $video ) : ?>
                            <tr>                                
                                <td><?= $video->id; ?></td>
                                <td><?= $video->titulo_noticia; ?></td>                                
                                <td><?php
                                $data = new Zend_Date($video->data_criacao);
                                echo $data; ?>
                                </td>
                                <td><?php $data = new Zend_Date($video->data_modificado);
                                echo $data; ?></td>
                                <td><a title="Imagens" href="<?= '/admin/noticias/editar-imagem/id/'.$video->id; ?>"><img width="22" heigth="22" src="<?php echo $this->baseUrl('public/css/images/ico_fotos.png'); ?>"/></a>&nbsp;&nbsp;
                                    <a title="Editar" href="<?= '/admin/noticias/editar-noticia/id/'.$video->id; ?>"><img src="<?php echo $this->baseUrl('public/css/images/btn-editar.png'); ?>"/></a>&nbsp;&nbsp;
                                    
                                    <a title="Remover" href="<?= '/admin/noticias/excluir-noticia/id/'.$video->id; ?>" ><img src="<?php echo $this->baseUrl('public/css/images/btn-lixeira.png'); ?>"/></a></td>
                            </tr>
                            <?php endforeach; ?>
                            
                        </tbody>
                    </table>
                </div>

