@charset "utf-8";
/* CSS Document */

body{
	background-image:url(images/bkg.jpg);        
	margin:0px;	
}

dd{
    margin-left:-10px;
}

#container-login{
	width:500px;
	height:300px;
	margin:0px auto;
	margin-top:130px;	
}

.logo-multclick{
	width:239px;
	height:71px;
	background-image:url(images/multclick.png);
	margin:0px auto;	
}

.area-login{
	width:399px;
	height:186px;
	background-image:url(images/area-login.png);
	margin:0px auto;
	margin-top:30px;	
}

.area-login span{
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:14px;
	font-weight:bolder;
	color:#1f1f1f;
	float:left;
	margin-left:10px;
	margin-top:7px;	
}

.area-login input{
	background:transparent;
	width:190px;
	height:30px;
	float:right;
	border:none;
	font-size:14px;	
}

.campo-login{	
	width:270px;
	height:40px;
	float:left;
	margin-top:20px;
	margin-left:60px;
}

.campo-senha{
	width:270px;
	height:40px;
	float:left;
	margin-top:25px;
	margin-left:60px;
}

.campo-botao{
	width:270px;
	height:30px;
	float:left;
	margin-left:60px;
	margin-top:25px;
}

.campo-envio{
	width:270px;
	height:60px;	
	margin-left:60px;
	margin-top:25px;
}


/* CSS das páginas internas */

#top{
	width:auto;
	height:200px;		
}

/*.bkg-top{
	position:fixed;
	width:170px;
	height:200px;
	background-color:#FFF;
}*/

.container-top{
	width:960px;
	height:200px;
	margin:0px auto;
}

.ponta-bkg{
	width:253px;
	height:200px;
	background-image:url(images/ponta-top.png);
	float:left;
}

.logo-empresa{
	width:180px;
	height:150px;
	float:right;
	margin-top:10px;
	margin-right:45px;	
}

.titulo-empresa{
	width:400px;
	height:60px;
	float:left;
	margin-top:60px;
	margin-left:30px;	
}

.titulo-empresa span{
	font-family:Georgia, "Times New Roman", Times, serif;
}

.titulo-empresa .titulo{
	font-size:26px;
	color:#e45962;
}

.titulo-empresa .titulo:hover{
	text-shadow:0px 0px 5px #FFF;
	cursor:default;
}

.titulo-empresa .subtitulo{
	font-size:20px;
	color:#7e888d;
	cursor:default;
}

#meio{
	width:auto;
	height:auto;
	background-color:#FFF;	
}

.container-meio{
	width:960px;
	min-height:425px;
	margin:0px auto;
	display:table;
}

.bkg-menu{
	width:911px;
	height:49px;
	background-image:url(images/bkg-menu.png);
	float:left;
	margin-left:20px;
	margin-top:-20px;
	
}

.area-sessao{
	width:250px;
	height:33px;
	float:right;
	margin-top:10px;
	margin-right:15px;
	color:#FFF;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
}

.area-sessao span:hover{
	text-shadow:0px 0px 5px #fff;
}

.logout{
	width:33px;
	height:33px;
	float:right;
}

.lista-menu{
	float:left;
	width:500px;
	height:30px;
	margin-top:5px;
	margin-left:65px;		
}

.lista-menu a{
	color:#FFF;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	text-decoration:none;
	-webkit-transition: text-shadow 400ms ease-in;
	transition: text-shadow 400ms ease-in;	
}

.lista-menu ul{
	list-style: none;
	margin-bottom:10px;
	width:410px;
	margin-left:-20px;
	margin-top:8px;				
}

.lista-menu ul li{
	display:inline;
	position:relative;
	margin-right:40px;
	padding-bottom:12px;							
}

.lista-menu .administracao ul{
	position:absolute;
	top:23px;
	left:0px;
	background-color:#b51721;
	display:none;
	width:112px;
	border-radius: 0px 0px 10px 10px;
	-webkit-border-radius:	0px 0px 10px 10px;			
}

.lista-menu .website ul{
	position:absolute;
	top:23px;
	left:-20px;
	background-color:#b51721;
	display:none;
	width:102px;
	border-radius: 0px 0px 10px 10px;
	-webkit-border-radius:0px 0px 10px 10px;				
}

.lista-menu .pessoal ul{
	position:absolute;
	top:23px;
	left:-10px;
	background-color:#b51721;
	display:none;
	width:92px;
	border-radius: 0px 0px 10px 10px;
	-webkit-border-radius:0px 0px 10px 10px;				
}

.lista-menu ul li ul li{
		
}

.lista-menu ul li ul li:hover{
	background-color:#c3202a;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;	
}

.lista-menu li a:hover{
	 text-shadow:0px 0px 5px #fff;	 
	 opacity:1.0;
}

.lista-menu li:hover ul, .lista-menu li.over ul{display:block; }

.lista-menu li ul li{	 
	display:block; 
	width:130px;
	left:-40px;
	border-left:thin solid #961119;
	border-right:thin solid #961119;	
	text-align:center;
	height:20px;
	padding:0px;
	
}

.lista-menu li ul .ultimo{	
	border-left:none;
	border-right:none;	
}

.lista-menu .website ul li{
	width:140px;
}

.lista-menu .administracao ul li{
	width:150px;
}

.mensagem-index{
    width:340px;
    height:30px;    
    margin:0px auto;    
    font-family:Mako;
    font-size:16px;
}
.area-modulos{
    width:700px;
    height: 300px;
    display:table;
    margin:0px auto;    
}

.titulo-area span{
    font-family: Mako;
    font-weight:bold;
    font-size: 20px;
}

.links-modulos{
    width:620px;
    min-height:300px; 
    margin:0px auto;
    margin-top:20px;
}

.links-modulos ul{
    list-style:none;
    margin:0px;
    padding:0px;
}

.links-modulos ul li{
    float:left;
    margin-left:5px;
    border-radius:5px;
    -webkit-border-radius:5px;
}

.links-modulos ul li .link{
    width:90px;
    height:30px;
    text-align: center;
    border-radius:5px;
    -webkit-border-radius:5px;
}

.links-modulos ul li .link a{    
    font-size: 16px;
    font-family: Mako;
    padding-bottom: 5px;
    padding-left:10px;
    padding-right:10px;
}

.area-conteudo{
	width:940px;
	height:300px;
	float:left;	
	margin:0px auto;
	margin-top:20px;
        display: table;
        
}

.area-conteudo .titulo-area{
    width:250px;
    height: 35px;    
    margin-left: 70px;
}

.area-conteudo .funcoes{
    width:800px;
    min-height:50px;
    margin:0px auto;
}

.area-conteudo .funcoes .btn-cadastro-imagem{
    width:140px;
    height:35px;
    float:right;    
}

.area-conteudo .funcoes a{    
    text-decoration: none;
    color: #666;
}

.area-conteudo .funcoes span{
    font-family:Mako;
    font-size:15px;
}

.area-conteudo .titulo-area span{
    font-family: Mako;
    font-weight:bold;
    font-size: 20px;
    
}

.area-botoes-index{
    width:300px;
    height:200px;    
    float:left;
    margin-left:50px;
}

.botao-index{
    width:90px;
    height:80px;
    float:left;        
    margin:0px 5px;
}

.botao-index a{
    padding:25px 25px;
    border:thin solid #ccc;
    border-radius:5px;
    -webkit-border-radius:5px;
    font-family:Mako;
    font-size:16px;
    color:#666;    
    text-decoration:none;
    transition:background-color 300ms ease-in;
    -webkit-transition:background-color 300ms ease-in;
}

.botao-index a:hover{
    background-color: #7e888d;
    color:#000;
}

.area-ultimas-alteracoes{
    width:400px;
    height:250px;    
    float:right;
    margin-right: 50px;
}

.area-ultimas-alteracoes span{
    font-family:Mako;
    font-size:15px;
    font-weight: bold;
}

.area-ultimas-alteracoes p{
    font-family:Mako;
    font-size:13px;
    font-weight: bold;
    color:#666;
}

.area-ultimas-alteracoes a{
    border:thin solid #ccc;
    padding:4px 4px;
    border-radius:5px;
    -webkit-border-radius:5px;
    font-family: Mako;
    font-size: 16px;
    color:#666;
    text-decoration: none;
     transition:background-color 300ms ease-in;
    -webkit-transition:background-color 300ms ease-in;
}

.area-ultimas-alteracoes a:hover{
    background-color: #7e888d;
    color:#000;
}

#bottom{
	width:auto;
	height:30px;
}

.multclick{
	width:60px;
	height:16px;
	margin:0px auto;
	margin-top:15px;	
}

/* paginas internas */


/*tabela dataTables */
.area-tabela{
    width:800px;
    height: 250px;
    margin:0px auto;
    display:table;
	margin-bottom:20px;
}

.area-tabela #tabela{

}

.area-tabela #tabela_length{
	border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#ccc;
	margin-bottom:-15px;
	padding:4px 5px;
	background-image: linear-gradient(100% 100% 90deg, #efefef, #666);
	background-image: 
-webkit-gradient(linear, center top, center bottom, from(#666), to(#efefef));
font-family:Mako;
	font-weight:bold;
}

.area-tabela #tabela_filter{
	float:right;
	position:relative;
	top:-12px;
	left:-5px;
	font-family:Mako;
	font-weight:bold;
}

.area-tabela #tabela td{
    border:thin solid #CCC;
    text-align: center;
    padding:2px 5px;
    font-family:Mako;
    font-size: 13px;
}

.area-tabela #tabela .sorting_1{
    background-color: #EFEFEF;   
    box-shadow:2px 1px 1px #000;
    -webkit-box-shadow:2px 1px 1px #000;    
}

.area-tabela #tabela .sorting, .area-tabela #tabela .sorting_asc,
.area-tabela #tabela .sorting_desc{
    cursor:pointer;
    border:thin solid #CCC;   
    padding:2px 5px;
	border-radius:9px 9px 0px 0px;
	-webkit-border-radius:9px 9px 0px 0px;
    transition: background-color 300ms ease-in, color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in, color 300ms ease-in;
    box-shadow:2px 1px 1px #000;
    -webkit-box-shadow:2px 1px 1px #000;
}

.area-tabela #tabela .sorting:hover, .area-tabela #tabela .sorting_asc:hover,
.area-tabela #tabela .sorting_desc:hover{
    background-color: #CCC;
    color:#FFF;
    
}

.area-tabela #tabela_info{
    float:left;
    margin-top: 10px;	
	width:250px;
	border:thin solid #ccc;
	background-color:#ccc;
	background-image: linear-gradient(100% 100% 90deg, #333, #efefef);
	background-image: 
-webkit-gradient(linear, center top, center bottom, from(#efefef), to(#333));
	border-radius:4px;
	-webkit-border-radius:4px;
	padding:4px 5px;
	font-family:Mako;
	font-weight:bold;
        text-align: center;
}

.area-tabela #tabela_paginate{	
    float:right;
   	top:16px;
	position:relative;	
}

.area-tabela #tabela_first{
    background-color: #CCC;
    width:30px;
    height: 15px;
    border:thin solid #cccccc;
    margin-right: 5px;
    padding: 2px 5px;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    transition: background-color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in;	
}

.area-tabela #tabela_first:hover{
    background-color: #FFF;
}

.area-tabela #tabela_previous{
    background-color: #CCC;
    width:30px;
    height: 15px;
    border:thin solid #cccccc;
    margin-right: 5px;
    padding: 2px 5px;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    transition: background-color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in;
}

.area-tabela #tabela_previous:hover{
    background-color: #FFF;
}

.area-tabela #tabela_next{
    background-color: #CCC;
    width:30px;
    height: 15px;
    border:thin solid #cccccc;
    margin-right: 5px;
    padding: 2px 5px;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    transition: background-color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in;
}

.area-tabela #tabela_next:hover{
    background-color: #FFF;
}

.area-tabela #tabela_last{
    background-color: #CCC;
    width:30px;
    height: 15px;
    border:thin solid #cccccc;
    margin-right: 5px;
    padding: 2px 5px;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    transition: background-color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in;
}

.area-tabela #tabela_last:hover{
    background-color: #FFF;
}

.area-tabela .paginate_active{
    background-color: brown;
    width:30px;
    height: 15px;
    border:thin solid #cccccc;
    margin-right: 5px;
    padding: 2px 5px;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    transition: background-color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in;
}

.area-tabela .paginate_active:hover{
    background-color: crimson;
}

.area-tabela .paginate_button{
    background-color: #CCC;
    width:30px;
    height: 15px;
    border:thin solid #cccccc;
    margin-right: 5px;
    padding: 2px 5px;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    transition: background-color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in;
}

.area-tabela .paginate_button:hover{
    background-color: #FFF;
}

.area-tabela img{
    border-radius:5px;
    -webkit-border-radius:5px;
}


/*tooltip */

#easyTooltip

        {
            padding: 5px 10px;
            border: 1px solid #999;
            border-radius:5px;
            -webkit-border-radius:5px;
            background-color: #666;
            color: #fff;
        }


/*formularios */

.form-cadastro-usuario{
    width:700px;
    height: 420px;
    margin:0px auto;
    display:table;
}

.campo-form-video{
    width:330px;
    height:270px;
    
}

.campo-form-radio{
    width:160px;
    height:20px; 
    font-family: Mako;
    font-size: 12px;
    margin-top:10px;
}

.campo-form-select{
    width:170px;
    height:40px;    
    margin-top:20px;
    font-family: mako;
}

.campo-form-select select{
    width:150px;
    height:30px;
    font-size:18px;
    
}

.campo-form-radio span{
    font-family: Mako;
    font-size: 13px;
    font-weight: bold;
}

.form-cadastro-noticia{
    width:700px;
    min-height: 720px;
    margin:0px auto;    
}

.form-cadastro-noticia .botao-cadastrar{
    float:left;
    margin-top:10px;
}

.form-gruponewsletter{
    width:700px;
    min-height:400px;
    margin:0px auto;
}

.form-cadastro-imagem{
    width:500px;
    min-height:300px;
    margin:0px auto;    
}

.form-cadastro-imagem-iframe{
    width:350px;
    min-height:200px;
    margin:0px auto;    
}

.form-edicao-imagem{
    width:900px;
    height:400px;
    margin:0px auto;
    display:table;
}

.campo-form{
    width:300px;
    height: 70px;
    display:table;
}

.campo-form-texto{
    width:300px;
    height: 120px;    
}

.campo-form-arquivo{
    width:300px;
    min-height: 120px;    
}

.campo-form-arquivo span{
    font-family: Mako;   
}

.campo-form-texto textarea{
    width:300px;
    height:70px;
    border:thin solid #ccc;
    border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 2px 2px 2px #cecece;
    -webkit-box-shadow: 2px 2px 2px #cecece;
}



.campo-form textarea{
    width:300px;
    height:70px;
    border:thin solid #ccc;
    border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 2px 2px 2px #cecece;
    -webkit-box-shadow: 2px 2px 2px #cecece;
}

.campo-select-emails{
    width:350px;
    height:80px;
    border:thin solid #000;
}

.campo-select-emails span{
    float:left;
    font-family: Mako;
    font-size:16px;
}

.campo-form span{
    font-family: Mako;
    font-size:16px;
    float: left;
}

.campo-form-texto span{
    font-family: Mako;
    font-size:16px;
    float: left;
}

.campo-form input[type=text], .campo-form input[type=password]{
    width:270px;
    height: 30px;
    border:thin solid #ccc;
    border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 2px 2px 2px #cecece;
    -webkit-box-shadow: 2px 2px 2px #cecece;
    font-family: Mako;
    font-size: 13px;
    font-weight: bold;
}

.botao-cadastrar{
    width:104px;
    height:50px;
}

.funcoes .btn{
    border:thin solid #ccc;
    border-radius:5px;
    -webkit-border-radius:5px;
    background-image:linear-gradient(100% 100% 90deg, #666, #efefef);
    background-image:-webkit-gradient(linear, center top, center bottom, from(#efefef), to(#666));
    position:relative;
    top:10px;
    padding:4px 5px;
    transition:padding 150ms ease-in;
    -webkit-transition:padding 150ms ease-in;
}

.funcoes .btn:hover{
    
    padding:7px 5px;
}

.funcoes .btn span{
    font-family: Mako;
    color:#000;
}

.area-newsletter{
    width:800px;
    min-height: 550px;    
    margin:0px auto;
    
}

.lista-emails{
    width:220px;
    height: 40px;
    margin-left: 20px;
    margin-top:20px;
}

.lista-emails select{
    width:200px;
    height: 30px;
    text-align:center;
    font-size: 16px;    
}

.area-newsletter .campo-mensagem{
    margin-left:20px;       
}

.campo-texto{
    width:700px;
    height:150px;
    margin-top:65px;
}

.campo-texto span{
    font-family: Mako;
    font-size:16px;
    float: left;
}

.campo-data{
    width:180px;
    height:80px;
    
    
}

.campo-data input{
    border:thin solid #ccc;
    height:30px;
    border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 2px 2px 2px #cecece;
    -webkit-box-shadow: 2px 2px 2px #cecece;
}

.campo-data span{
    font-family: Mako;
    font-size:16px;
    float: left;
}

.campo-checkbox{
    width:100px;
    height: 40px;
    
}

.campo-checkbox input{
    position:relative;
    top:-17px;
}

.campo-checkbox span{
    font-family: Mako;
    font-size:16px;
    float: left;
}

.container-imagem{
    width:280px;
    height:310px;
    border:thin solid #dfdddd;
    transition:background-color 300ms ease-in;
    -webkit-transition:background-color 300ms ease-in;
    border-radius:5px;
    -webkit-border-radius:5px;
    float:left;
    margin:5px;
}

.container-album{
    width:280px;
    height:250px;
    border:thin solid #dfdddd;
    transition:background-color 300ms ease-in;
    -webkit-transition:background-color 300ms ease-in;
    border-radius:5px;
    -webkit-border-radius:5px;
    float:left;
    margin:5px;
}

.container-album .titulo-album{
    width:260px;
    height:20px;    
    text-align:center;
    font-family:Mako;
    font-size:15px;
    margin:0px auto;
    margin-top:10px;
}

.container-album .funcoes-album{
    width:105px;
    height:40px;
    margin:0px auto;
    margin-top:20px;    
    
}

.container-album .funcoes-album .btn{
    border:thin solid #ccc;
    border-radius:5px;
    -webkit-border-radius:5px;
    background-image:linear-gradient(100% 100% 90deg, #666, #efefef);
    background-image:-webkit-gradient(linear, center top, center bottom, from(#efefef), to(#666));
    position:relative;
    top:10px;
    padding:4px 5px;
    transition:padding 150ms ease-in;
    -webkit-transition:padding 150ms ease-in;
    text-decoration:none;
    font-family:Mako;
}

.container-album .funcoes-album .btn:hover{
    padding:7px 5px;
}
.container-imagem:hover{
    background-color:#dfdddd;
}

.container-album:hover{
    background-color:#dfdddd;
}

.container-imagem .imagem{
    width:200px;
    height: 140px;    
    margin:0px auto;
    margin-top:10px;
}

.container-album .imagem{
    width:200px;
    height: 140px;    
    margin:0px auto;
    margin-top:10px;
}

.container-imagem .btn-excluir{
    position:absolute;
    margin-left: 250px;
    margin-top:-150px;
}

.container-album .btn-excluir{
    position:absolute;
    margin-left: 250px;
    margin-top:-150px;
}

.container-imagem .campo-form{
    width:220px;
    height:40px;   
    margin:0px auto;
    margin-top:10px;
}

.container-imagem .campo-form-radio{
    width:160px;
    height:20px;       
    margin:0px auto;
    font-family: Mako;
    font-size: 12px;
}

.container-imagem .campo-form-radio span{
    font-family: Mako;
    font-size: 13px;
    font-weight: bold;
}

.container-imagem .campo-form-texto{
    width:220px;
    height:70px;
    margin:0px auto;
}

.container-imagem .campo-form-texto textarea{
    width:220px;
    height:60px;    
}

.container-imagem .campo-form input[type=text]{
    width:220px;
    height:30px;    
}

/* uploader */

.MultiFile-wrap{    
   
}

.MultiFile-wrap .MultiFile-label{
    width:300px;
    height:30px;
    border:thin solid #ccc;
    background-color:#dfdddd;
    transition:background-color 300ms ease-in;
    border-radius:5px;
    -webkit-border-radius:5px;
    margin:5px 5px;
}

.MultiFile-wrap .MultiFile-label:hover{
    
    background-color:#ccc;
    
}

.MultiFile-wrap .MultiFile-label a{
    float:right;
    text-decoration:none;
    margin-right:5px;
    margin-top:3px;
    color:#b51721;
}

.MultiFile-wrap .MultiFile-label span{
    float:left;
    font-family: Mako;
    font-size:14px;
    margin-left:10px;
    margin-top:5px;
}

#url_imagem-1{
    display:none;
}

